:root {
    --bg-color-1: #f2f4f4;
    --bg-color-2: #F9F4EE;
    --accent-color: #F97517;
    --text-color-1: #333333;
    --text-color-2: #4A4A4A;
    --gray: #B1B1B1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    color: var(--text-color-2);
}
body.open {
    overflow: hidden;
}
.btn {
    border: 0;
    outline: 0;
    background: none;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease;
}
.header-btn {
    font-weight: 500;
    font-size: 12px;
    color: var(--accent-color);
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding: .5rem 1.5rem;
    border: 2px solid #E97522;
    text-transform: uppercase;
    transition: .5s ease;
}
.header-btn:hover, .header-btn:active, .header-btn:focus {
    color: #fff;
    background: var(--accent-color);
    border: 2px solid transparent;
}
.main-btn {
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px;
    transition: .5s ease;
}
.main-btn:focus, .main-btn:active {
    border-radius: 6px;
    font-size: 12px;
    line-height: 14px;
    padding: 1rem;
}
/* header */
.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}
.header-call {
    text-decoration: none;
    width: 20px;
    height: 20px;
}
.header-call svg{
    fill: #4A4A4A;
    transition: .3s ease;
}
.header-call svg:hover, .header-call svg:active, .header-call svg:focus {
    fill: var(--accent-color);
}
.header-btn {
    display: none;
}
.header-menu {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    right: 0;
    top: 42px;
    row-gap: 1rem;
    z-index: 90;
    width: 100%;
    padding: 1rem 1rem;
    height: calc(100vh - 42px);
    background: rgb(15, 15, 15, .7);
    opacity: 0;
    transform: translateX(100%);
    transition: .5s ease;
}
.header-menu.open {
    opacity: 1;
    transform: translateX(0);
}
.header-menu_contacts {
    order: 5;
}
.header-menu_typejob {
    order: 2;
}
.header-menu_feedback {
    order: 4;
}
.header-menu_price {
    order: 3;
}
.header-menu a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}
.header-info_number {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #585858;
    align-self: center;

}
.btn-burger {
    width: 26px;
    height: 26px;
}
.btn-burger img{
    width: 100%;
    height: 100%;
}
.header-logo{
    width: 63px;
    height: 20px;
}
.header-menu a:hover, .header-menu a:focus, .header-menu a:active {
    color: var(--accent-color);
}

@media screen and (min-width: 1024px) {
    .btn.btn-burger {
        display: none;
    }
    .header-call {
        display: none;
    }
   .btn.header-btn{
       display: block;
   }
   .header-menu {
       position: static;
       flex-direction: row;
       height: auto;
       width: auto;
       font-weight: 500;
       font-size: 12px;
       line-height: 20px;
       opacity: 1;
       transform: translateX(0);
       background: none;
       column-gap: 1rem;
       padding: 0;
   }
   .header-menu a{
        color: var(--text-color-2);
        padding: .5rem;
   }
   .header-menu_typejob {
    order: 0;
    }
    .header-menu_feedback {
        display: none;
    }
    .header-menu_price {
        display: block;
    }
    .wrapper {
        max-width: 880px;
        margin: 0 auto;
    }
    .header-wrapper {
        padding: 12px 0;
    }
    .header-info{
        flex-direction: column;
        row-gap: 6px;
    }
    .header-info_number {
        order: -1;
        align-self: flex-end;
        color: var(--text-color-2);
    }
    .header-logo {
        width: 113px;
        height: 36px;
    }
    .header-btn:active {
        font-size: 10px;
    }

}

@media screen and (min-width: 1439px) {
    .header-logo {
        width: 108px;
        height: 35px;
    }
    .header-menu a {
        font-size: 14px;
    }
    .wrapper {
        max-width: 1240px;
    }
    .header-info{
        flex-direction: row;
        align-items: center;
    }
    .header-info_number {
        align-self: center;
        order: 0;
    }
    .header-menu{
        column-gap: 1.5rem;
    }
}

/* main */
.main {
    
    background: url(./img/main/bg-main_tel.jpg) center no-repeat;
    background-size: cover;
}
.main-subtitle, .main-text{
    display: none;
}
.main-wrapper {
    min-height: calc(100vh - 42px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    color: #F5F5F5;
}
.main-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1.2px;
}
.main .wrapper {
    min-height: calc(100vh - 42px);
}
.main-btn{
    text-decoration: none;
}
a .main-btn {
    transition: .3s ease;
}
@media screen and (min-width: 571px) {
    .main-wrapper {
        background: url(./img/main/bg-main_plan.jpg) center no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width: 1280px) {
    .main-wrapper {
        background: url(./img/main/bg-main.jpg) center no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width: 1023px) {
    .main-subtitle, .main-text{
        display: block;
    }
    .main-wrapper {
        padding: 70px 0;
        align-items: flex-start;
        justify-content: start;
    }
    .main-title {
        text-align: left;
        font-weight: 700;
        font-size: 3rem;
        line-height: 52px;
        letter-spacing: 2.3px;
        padding-bottom: 2rem;
    }
    .main-subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 16px;
    }
    .main-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 2rem;
    }
    .main .wrapper {
        min-height: auto;
    }
    .main {
        min-height: auto;
    }
    .main-wrapper {
        min-height: auto;
        row-gap: 0;
    }
    .main-btn {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
    }
    .main-btn:focus, .main-btn:active {
        border-radius: 10px;
        background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 1439px) {
    .main-wrapper {
        padding: 100px 0 140px;
    }
    .main-title {
        font-weight: 700;
        font-size: 66px;
        line-height: 78px;
        letter-spacing: 3.2px;
        padding-bottom: 52px;
    }
    .main-subtitle {
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 1.5rem;
    }
    .main-btn:hover {
        background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
        border-radius: 10px;
    }
    .main-btn:active, .main-btn:focus {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2px;
    }
}

/* swiper */
.works {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 85px;
}
.works-wrapper h3{
    padding-bottom: 40px;
    font-weight: 600;
    color: var(--text-color-1);
    font-size: 1.5rem;
    line-height: 34px;
}
.works-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiper {
    max-width: 375px;
    padding: 16px 0;
}
.swiper img {
    height: 230px;
    width: 207px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px !important;
    cursor: pointer;
}

.swiper-pagination-bullet {
    cursor: pointer;
    margin: 0 5px !important;
    height: 6px;
    width: 6px;
}
.swiper-pagination-bullet-active {
    background: #E97522;
    width: 12px;
    height: 12px;
}
.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    filter: blur(2px);
    transition: .5s ease;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    background-position: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    transition: .5s ease;
    top: 45%;
}
.swiper-button-prev:hover{
    background-image: url(./img/works/btn-prev_plan_active.svg);
    background-color: #E97522;
}
.swiper-button-next:hover {
    background-image: url(./img/works/btn-next_plan_active.svg);
    background-color: #E97522;
}
.swiper-button-prev {
    background-image: url(./img/works/btn-prev.svg);
    left: 16px;
}
.swiper-button-next {
    background-image: url(./img/works/btn-next.svg);
    right: 16px;
}
.swiper-slide-active{
    filter: blur(0px);
    transform: scale(1.2) !important;
    transition: .5s ease;
    z-index: 100 !important;
    opacity: 1;
}

.swiper-scrollbar {
    display: none;
}
.swiper-wrapper {
    padding-bottom: 30px;
}
.swiper-slide.swiper-slide-next {
    z-index: 2;
}

@media screen and (min-width: 1024px) {
    .works-wrapper h3{
        padding-bottom: 80px;
        font-weight: 600;
        color: var(--text-color-1);
        font-size: 30;
        line-height: 36px;
    }
    .swiper {
        max-width: 1024px;
        padding: 28px 0 ;
    }
    .swiper img {
        height: 397px;
        width: 357px;
    }
    .swiper-wrapper {
        padding-bottom: 59px;
    }
    .swiper-slide {
        filter: blur(0);
    }
    .swiper-slide-active img{
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
    }
    .swiper-button-prev {
        background-image: url(./img/works/btn-prev_plan.svg);
        left: 190px;
    }
    .swiper-button-next {
        background-image: url(./img/works/btn-next_plan.svg);
        right: 190px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 64px;
        height: 64px;
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
        background-size: 32px 32px;
        top: 43%;
    }
    .works {
        padding-top: 100px;
        padding-bottom: 139px;
    }
}
@media screen and (min-width: 1440px) {
    .works-wrapper h3{
        font-size: 36;
        line-height: 43px;
        padding-bottom: 30px;
    }
    .swiper {
        max-width: 1440px;
        padding: 37px 0;
    }
    .swiper img {
        height: 450px;
        width: 500px;
    }
    .swiper-wrapper {
        padding-bottom: 56px;
    }
    .swiper-slide-active {
        transform: scale(1.1) !important;
    }
    .swiper-button-prev{
        left: 325px;
        background-image: url(./img/works/btn-prev_pc.svg);
    }
    .swiper-button-next {
        background-image: url(./img/works/btn-next_pc.svg);
        right: 325px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        height: 74px;
        width: 74px;
        background-size: 37px 37px;
    }
}

/* locations */

.locations {
    background-color: #fff;
    background-image: url(./img/locations/bg-locations_tel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 62px;
}
.locations-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.locations-wrapper h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 34px;
    text-align: center;
    color: var(--text-color-1);
    padding-bottom: 40px;
}

.swiper-locations {
    overflow: hidden;
    max-width: 308px;
    /* padding-bottom: 2rem; */
    position: relative;
}
.swiper-locations img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px !important;
    cursor: pointer;
}
.locations .wrapper {
    margin: 0 auto;
    max-width: 375px;
}
.swiper-locations .swiper-slide {
    filter: blur(0);
}
.locations .swiper-slide-active {
    transform: scale(1) !important;
}
.swiper-button-next-loc::after, 
.swiper-button-prev-loc::after {
    display: none;
}
.swiper-button-prev-loc,
.swiper-button-next-loc {
    background-color: #fff;
    background-position: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    transition: .5s ease;
    position: absolute;
    z-index: 10;
    top: 44%;
    cursor: pointer;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}
.swiper-button-prev-loc:hover{
    background-image: url(./img/works/btn-prev_plan_active.svg);
    background-color: #E97522;
}
.swiper-button-next-loc:hover {
    background-image: url(./img/works/btn-next_plan_active.svg);
    background-color: #E97522;
}
.swiper-button-prev-loc {
    background-image: url(./img/works/btn-prev.svg);
    left: 16px;
}
.swiper-button-next-loc {
    background-image: url(./img/works/btn-next.svg);
    right: 16px;
}
.locations .swiper-wrapper {
    padding-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
    .locations {
        background-image: url(./img/locations/bg-locations_plan.svg);
        padding-bottom: 20px;
        margin-bottom: 100px;
    }
    .swiper-locations {
        max-width: 880px;
    }
    .locations .wrapper {
        margin: 0 auto;
        max-width: 880px;
    }
    .swiper-button-prev-loc,
    .swiper-button-next-loc {
        top: 45%;
        width: 64px;
        height: 64px;
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
        background-size: 32px 32px;
    }
    .swiper-button-prev-loc {
        left: -32px;
    }
    .swiper-button-next-loc {
        right: -32px;
    }
    .locations-wrapper h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 80px;
    }
    .locations .btn {
        width: 336px;
        text-align: center;
    }
}
@media screen and (min-width: 1440px) {
    .locations-wrapper h3 {
        font-size: 36px;
        line-height: 43px;
    }
    .locations {
        background-image: url(./img/locations/bg-locations.svg);
        /* padding-bottom: 80px;  */
        margin-bottom: 120px
    }
    .locations .wrapper {
        max-width: 1240px;
    }
    .locations .swiper-wrapper {
        padding-bottom: 60px;
    }
    .swiper-locations {
        max-width: 1240px;
    }
    .swiper-locations img {
        border-radius: 15px !important;
    }
    .swiper-button-prev-loc{
        background-image: url(./img/works/btn-prev_pc.svg);
    }
    .swiper-button-next-loc {
        background-image: url(./img/works/btn-next_pc.svg);
    }
    .swiper-button-prev-loc,
    .swiper-button-next-loc {
        height: 74px;
        width: 74px;
        background-size: 37px 37px;
    }
}

/* photo studio */
.photostudio {
    margin-bottom: 60px ;
}
.photostudio-wrapper {
    display: flex;
    flex-direction: column;
}
.photostudio-wrapper h3 {
    color: var(--text-color-1);
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 40px;
    align-self: center;
    text-align: center;
}
.photostudio-video {
    width: 100%;
    height: 375px;
    background: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 1024px) {
    .photostudio-wrapper h3 {
        padding-bottom: 80px;
        font-size: 30px;
        line-height: 36px;
    }
    .photostudio-wrapper h3 br {
        display: none;
    }
    .photostudio-video {
        height: 674px;
    }
    .photostudio {
        margin-bottom: 100px ;
    }
}
@media screen and (min-width: 1440px) {
    .photostudio-wrapper h3 {
        font-size: 36px;
        line-height: 34px;
    }
    .photostudio {
        margin-bottom: 110px ;
    }
}
/* services */

.services {
    padding-bottom: 60px;
}
.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-wrapper h3 {
    padding-bottom: 40px;
    color: var(--text-color-1);
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}
.services-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 154px;
    /* grid-template-rows: max-content; */
}
.services-container-item {
    position: relative;
}
.services-container-item img {
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100% ;
}
.services-container-item-text {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    left: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}
 .services-container-item_box-2 {
    grid-column-start: 2;
    grid-row: 1 / span 2;
}

.services-container-item_box-3 {
    grid-column-start: 1;
    grid-row: 3 / span 2;
}

.services-container-item_box-8 {
    grid-column-start: 2;
    grid-row: 5 / span 2;
}
@media screen and (min-width: 1024px) {
    .services {
        padding-bottom: 100px;
    }
    .services-wrapper h3 {
        padding-bottom: 80px;
        font-size: 30px;
        line-height: 36px;
    }
    .services-container {
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 234px;
    }
    .services-container-item img {
        border-radius: 15px;
    }
    .services-container-item_box-8 {
        grid-column-start: 3;
        grid-row: 2 / span 2;
    }
    .services-container-item_box-10 {
        grid-column: 2 / span 2;
        grid-row: 4;
    }
    .services-container-item-text {
        bottom: 12px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .services-container-item-text br {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .services {
        padding-bottom: 160px;
    }
    .services-wrapper h3 {
        font-size: 36px;
        line-height: 44px;
    }
    .services-container {
        gap: 2rem;
        grid-template-rows: 335px;
    }
    .services-container-item-text {
        font-weight: 600;
        bottom: 1rem;
        left: 2rem;
    }
}
/* stages */

.stages {
    background-color: #fff;
    margin-bottom: 80px;
    background-image: url(./img/stages/stages-bg_tel.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.stages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.stages-wrapper h3 {
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 34px;
    text-align: center;
    color: var(--text-color-1);
}
.stages-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

}
.stages-step-item {
    border: 2px solid #E97522;
    width: 320px;
    box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
    border-radius: 12px;
    background: #fff;
    position: relative;
}
.stages-step-item h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: var(--text-color-1);
    padding: 26px 0 12px;
}
.stages-step-item-text {
    text-align: center;
    padding: 0 36px 56px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.stages-step-item-number {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #F9F4EE;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -16px;
    left: calc(50% - 25px);
}
.stages-step + .stages-step {
    display: none;
} 

@media screen and (min-width: 1024px) {
    .stages {
        margin-bottom: 140px;
        background-image: url(./img/stages/stages-bg_plan.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 170px;
    }
    .stages-wrapper h3 {
        padding-bottom: 0;
        font-size: 30px;
        line-height: 36px;
    }
    .stages-step-item-number {
        line-height: 37px;
        left: -16px;
    }
    .stages-step-item h6 {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        padding-left: 40px;
    }
    .stages-step-item-text {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        padding: 0 40px 50px;
    }
    .stages-step-item {
        width: 348px;
        
    }
    .stages-step-item-first {
        position: absolute;
        top: 80px;
        left: 20px;
    }
    .stages-step-item-second {
        position: absolute;
        top: 136px;
        right: 20px;
    }
    .stages-step-item-free {
        position: absolute;
        top: 404px;
        right: 185px;
    }
    .stages-step-item-four {
        position: absolute;
        top: 678px;
        left: 20px;
    }
    .stages-step-item-five {
        position: absolute;
        top: 810px;
        right: 70px;
    }
    .stages-step {
        position: relative;
        align-self: stretch;
    }
    .stages-step + .stages-step {
        /* opacity: 0; */
        visibility: hidden;
        display: block;
    } 
}

@media screen and (min-width: 1440px) {
    .stages {
        background-image: url(./img/stages/stages-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 230px 20px;
        margin-bottom: 168px;
    }
    .stages-wrapper h3 {
        font-size: 36px;
        line-height: 44px;
    }
    .stages-step-item-first {
        top: 97px;
        left: 10px;
    }
    .stages-step-item-second {
        top: 153px;
        right: 59px;
    }
    .stages-step-item-free {
        top: 445px;
        right: 8px;
    }
    .stages-step-item-four {
        top: 440px;
        left: 174px;
    }
    .stages-step-item-five {
        top: 731px;
        right: 354px;
    }
}

/* about */

.about {
    padding: 50px 1rem 2rem;
    background: #F2F4F4;
    margin-bottom: 60px;
}
.about-wrapper,
.aboutNew-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease;
}
.about-wrapper h3,
.aboutNew-wrapper h3 {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    padding-bottom: 1.5rem;
}
.about-wrapper p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-2);
    text-align: center;
    max-height: 500px;
    overflow: hidden;
    transition: .3s ease;
}
.aboyt-collapsible,
.aboutNew-collapsible {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-top: 12px;
    color: var(--accent-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5rem;
    cursor: pointer;
    transition: .3s ease;
}
.about-wrapper.open p{
    max-height: max-content;
    overflow: visible;
}
.aboyt-collapsible:hover,
.aboutNew-collapsible:hover {
    opacity: .7;
}

@media screen and (min-width: 1024px) {
    .about,
    .aboutNew {
        padding: 60px 0 40px;
        margin-bottom: 100px;
    }
    .about-wrapper h3,
    .aboutNew-wrapper h3 {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 2rem;
    }
    .about-wrapper p,
    .aboutNew-wrapper p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
    }
    .about-wrapper p {
        max-height: 312px;
    }
    .aboutNew-text {
        max-height: 250px !important;
    }
    .aboyt-collapsible,
    .aboutNew-collapsible {
        align-self: flex-end;
        
        font-size: 1rem;
    } 
}

@media screen and (min-width: 1440px) {
    .about,
    .aboutNew {
        margin-bottom: 118px;
    }
    .about-wrapper h3,
    .aboutNew-wrapper h3 {
        font-size: 36px;
        line-height: 34px;
    }
    .about-wrapper p,
    .aboutNew-wrapper p {
        line-height: 26px;
    }
    .aboyt-collapsible,
    .aboutNew-collapsible {
        padding-top: 0px;
    }
    .about-wrapper p {
        max-height: 260px;
    }
    .aboutNew-text {
        max-height: 286px !important;
    }
}

/* aboutNew */


.aboutNew {
    padding: 50px 1rem 2rem;
    margin-bottom: 60px;
    background-color: #F9F4EE;
}
.aboutNew-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-2);
    text-align: center;
    max-height: 460px;
    overflow: hidden;
    transition: .3s ease;
}
.aboutNew-wrapper.open .aboutNew-text {
    max-height: max-content !important;
    overflow: visible;
}

/* pricing */

.pricing {
    padding-bottom: 60px;
}
.pricing-wrapper h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: var(--text-color-1);
    padding-bottom: 40px;
}
.pricing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    padding: 0 1rem;
}
.pricing-card {
    border-radius: 16px;
    background-color: #F2F4F4;
    padding: 45px 35px;
    background-image: url(./img/pricing/bg-circle.svg);
    background-repeat: no-repeat;
    background-position: 245px 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 350px;
}
.pricing-card__about {
    padding-bottom: 8px;
    
}
.pricing-card__about h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color-2);
    text-transform: uppercase;
    padding-bottom: 8px;
}
.pricing-card__value {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: var(--text-color-1);
    display: inline;
    
}
.pricing-card__valueRub {
    display: inline;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: var(--text-color-1);
}
.pricing-card__numberLocations {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #838383;
}
.pricing-card__components {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.pricing-card__componentsItem {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-1);
}
.pricing-card__extraService {
    display: flex;
    flex-direction: column;
}
.pricing-card__extraService h6 {
    align-self: center;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-1);
}
.pricing-card__extraService-item .btn{
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    color: var(--text-color-1);
    padding: 6px 0;
}
.pricing-card__extraService-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}
.btn-pricingMini {
    grid-column: 1 / 3;
}

.pricing-card-maxi .btn-pricingMaxi {
    grid-column: 1 / 3;
}
.pricing-card-maxi {
    background-color: #F5D9C6;
}
.pricing-card-standart {
    background-color: var(--bg-color-2);
}
.pricing-card-button-help {
    transition: .3s ease;
}
.pricing-card-button-help.active,
.pricing-card-button-makeup.active,
.btn-pricingMini.active {
    border-color: #E97522;
}
.pricing-card__extraService-item .btn {
    transition: .3s ease;
}
.pricing-card__extraService-item .btn:hover {
    background: #F7F5F5;
}

@media screen and (min-width: 1024px) {
    .pricing {
        padding-bottom: 100px;
        background-image: url(./img/pricing/bg-plan.svg);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    .pricing-wrapper h3 {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 80px;
    }
    .pricing-card-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 34px;
        justify-content: center;
    }
    .pricing-card {
        width: 400px;
    }
    .pricing-card__about h6 {
        padding-bottom: 1rem;
    }
    .pricing-card__componentsItem {
        font-size: 1rem;
        line-height: 22px;

    }
    .pricing-card__extraService h6 {
        font-size: 1rem;
        line-height: 22px;
    }
}

@media screen and (min-width: 1440px) {
    .pricing {
        padding-bottom: 150px;
        background-image: none;
    }
    .pricing-wrapper h3 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 100px;
    }
    .pricing-card-wrapper {
        gap: 40px;
    }
}



/* modal window */
.overlay {
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 101;
    transition: .3s ease;
}
.pricing-card__modal {
    opacity: 0;
    visibility: hidden;
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 338px;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    /*  Побочные стили   */
    padding: 40px 25px;
    border-radius: 7px;
    background-color: #fff;
    transition: 0.3s all;

    display: flex;
    flex-direction: column;

}
.overlay.open,
.pricing-card__modal.open {
    opacity: 1;
    visibility: visible;
}
.pricing-card__modal svg{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;

}
.pricing-card__modal svg path {
    transition: .3s ease;
}
.pricing-card__modal svg:hover path{
    stroke: #E97522;
}
.pricing-card__modal h3 {
    color: var(--text-color-2);
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 1rem;
}
.pricing-card__modal h6 {
    align-self: flex-start;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 12px;
    color: #121621;
    opacity: .4;
}
.pricing-card__modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}
.pricing-card__modal form input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #DDDEE4;
    background: #fff;
    min-height: 32px;
    text-indent: 12px;
    font-family: inherit;
}
.pricing-card__modal form input::-webkit-outer-spin-button,
.pricing-card__modal form input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.pricing-card__modal form input:active,
.pricing-card__modal form input:hover,
.pricing-card__modal form input:focus {
    border-color: #E97522;
    border: 1px solid;
}   
.pricing-card__modal form .btn {
    width: 100%;
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-radius: 6px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 12px 0; 
}
::-webkit-input-placeholder {
    color:#B1B1B1;
    font-size: 12px;
    line-height: 12px;
    opacity: .4;
    transition: .3s ease;
}
::-moz-placeholder{
    color:#B1B1B1;
    font-size: 12px;
    line-height: 12px;
    opacity: .4;
    transition: .3s ease;
}/* Firefox 19+ */
:-moz-placeholder{
    color:#B1B1B1;
    font-size: 12px;
    line-height: 12px;
    opacity: .4;
    transition: .3s ease;
}/* Firefox 18- */
:-ms-input-placeholder{
    color:#B1B1B1;
    font-size: 12px;
    line-height: 12px;
    opacity: .4;
    transition: .3s ease;
}

/* .btn-modalSubmit {
    pointer-events: none;
} */

/* scroll active */

.header-menu a.active {
    color: var(--accent-color);
}

.pricing-card a.main-btn{
    text-align: center;
    transition: .3s ease;
}
/* btn hover, transition no work =( */
.btn.main-btn.btn-modalSubmit {
    transition: .3 ease !important  ;
}
.btn.main-btn.btn-modalSubmit:hover,
.btn-modalSubmit:active,
.btn-modalSubmit:focus {
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
} 


/* certificate */


.certificate {
    padding-bottom: 60px;

}
.certificate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certificate-wrapper h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 34px;
    text-align: center;
    padding-bottom: 40px;
}
.certificate-card {
    background: #F9F4EE;
    border-radius: 25px;
    margin: 0 1rem;
    padding: 40px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
}
.certificate-card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certificate-card__title h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #C8C8C8;
    padding-bottom: .5rem;
}
.certificate-card__title h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 34px;
    color: var(--text-color-1);
    padding-bottom: 2rem;
}
.certificate-card__title-services {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    row-gap: 1rem;
}
.certificate-card__title-services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}
.certificate-card__title-services-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-2);
}

.certificate-card__img {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/certificate/bg-tel.svg);
    background-repeat: no-repeat;
    background-position: 30px 30px;
}

.certificate-card__img-present {
    width: 267px;
    height: 267px;
    background-image: url(./img/certificate/certificate-present.png);
    background-position: center;
    background-size: cover;
}
.certificate-card__img h6 {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-1);
    padding-bottom: 1rem;
}
.certificate-card__img button {
    width: 100%;
}
@media screen and (min-width: 1024px) {
    .certificate {
        padding-bottom: 100px;
    }
    .certificate-wrapper h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 80px;
    }
    .certificate-card {
        background: #F2F4F4;
        width: 864px;
        margin: 0;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 20px 0 70px 50px;
    }


    .certificate-card__title {
        align-items: flex-start;
    }
    .certificate-card__title h6 {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
    }
    .certificate-card__title h3 {
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 1px;
        padding-bottom: 40px;
        text-align: left;
    }
    .certificate-card__title-services {
        align-items: flex-start;
    }
    .certificate-card__title-services-item {
        flex-direction: row;
        column-gap: 1rem;
        font-size: 16px;
        line-height: 22px;
        align-items: center;
    }
    .certificate-card__img-present {
        width: 438px;
        height: 438px;
        background-image: url(./img/certificate/certificate-present_plan.png);
    }
    .certificate-card__img h6 {
        font-size: 1rem;
        line-height: 22px;
    }
    .certificate-card__img button {
        width: 342px;
    }
    .certificate-card__img {
        background-image: url(./img/certificate/bg-plan.svg);
        background-size: cover;
        background-position: -1px 200px;
    }
}
@media screen and (min-width: 1440px) {
    .certificate {
        padding-bottom: 150px;
    }
    .certificate-wrapper h3 {
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 60px;
    }
    .certificate-card {
        width: 1240px;
        padding: 0 86px 38px 120px;
    }
    .certificate-card__title h3 {
        font-size: 3rem;
        line-height: 68px;
        padding-bottom: 52px;
    }
    .certificate-card__img-present {
        width: 493px;
        height: 493px;
        background-image: url(./img/certificate/certificate-present.png);
    }
    .certificate-card__img {
        background-image: url(./img/certificate/bg.svg);
        background-repeat: no-repeat;
        background-position: 0 100px;
    }

}
/* main modal */
/* modal window */

.main-modalWindow {
    opacity: 0;
    visibility: hidden;
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 338px;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    /*  Побочные стили   */
    padding: 18px 1rem 2rem;
    border-radius: 7px;
    background-color: #fff;
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 10px rgba(105, 117, 135, 0.2);
}
.main-modalWindowGratitude {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 338px;
    height: 338px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 10px rgba(105, 117, 135, 0.2);
    padding: 0 20px;
    overflow: hidden;
}
.main-modalWindowGratitude__top {
    width: 264px;
    height: 264px;
    position: absolute;
    background: url(./img/main/bg-top-right_tel.png);
    background-repeat: no-repeat;
    top: 0;
    left: 170px;
}
.main-modalWindowGratitude__top-circle {
    width: 106px;
    height: 106px;
    background: url(./img/main/bg-top-right-circle_tel.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 82px;
    left: 300px;
    mix-blend-mode: multiply;
}
.main-modalWindowGratitude__bottom {
    width: 264px;
    height: 264px;
    position: absolute;
    background: url(./img/main/bg-bottom-left_tel.png);
    background-repeat: no-repeat;
    top: 72px;
    left: 0px;
}
.main-modalWindowGratitude__bottom-circle {
    width: 106px;
    height: 106px;
    background: url(./img/main/bg-bottom-left-circle_tel.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
    left: 0px;
    mix-blend-mode: multiply;
    
}
.main-modalWindow.open,
.main-modalWindowGratitude.open {
    opacity: 1;
    visibility: visible;
}
.main-modalWindowGratitude svg{
    z-index: 1;
}
.main-modalWindowGratitude h3 {
    z-index: 1;
}
.main-modalWindow svg,
.main-modalWindowGratitude svg{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}
.main-modalWindow svg path,
.main-modalWindowGratitude svg path{
    transition: .3s ease;
}
.main-modalWindow svg:hover path,
.main-modalWindowGratitude svg:hover path{
    stroke: #E97522;
}
.main-modalWindow h3,
.main-modalWindowGratitude h3 {
    color: var(--text-color-2);
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 1rem;
}
.main-modalWindowGratitude p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #121621;
    opacity: 0.4;
}
.main-modalWindow h6 {
    align-self: flex-start;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 12px;
    color: #121621;
    opacity: .4;
}
.main-modalWindow__img {
    width: 121px;
    height: 110px;
    background-image: url(./img/main/main_modalWindow_tel.png);
}
.main-modalWindow form {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.main-modalWindow form input {
    width: 280px;
    border-radius: 5px;
    border: 1px solid #DDDEE4;
    background: #fff;
    min-height: 32px;
    text-indent: 12px;
    font-family: inherit;
}
.main-modalWindow form h6 {
    padding-top: 10px;
}

.main-modalWindow button{
    margin: 10px 0 1rem;
}
.main-modalWindow .main-modalWindow__consent {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #585858;
}
.main-modalWindow .main-modalWindow__consent span {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}
.main-modalWindow .btnSubmModalMain {
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
}
@media screen and (min-width: 1024px) {
    .main-modalWindow {
        flex-direction: row;
        max-width:  840px;
        height: 508px;
        align-items: center;
    }
    .main-modalWindow__img {
        width: 362px;
        height: 331px;
        background-image: url(./img/main/main_modalWindow_plan.png);
        background-repeat: no-repeat;
        width: 100%;
    }
    .main-modalWindow .btnSubmModalMain {
        width: 374px;
        padding: 14px 0;
    }
    .main-modalWindow form input {
        width: 374px;
        padding: 14px 0;
    }
    .main-modalWindow form h3 {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 2rem;
        text-align: left;
    }
    .main-modalWindowGratitude {
        max-width: 622px;
        height: 331px;
    }
    .main-modalWindowGratitude__top {
        top: 0;
        left: 481px;
    }
    .main-modalWindowGratitude__top-circle {
        top: 82px;
        left: 581px;
    }
}
